@import "colors";

$widthBreakpoint: 740px;

@media only screen and (min-width: $widthBreakpoint){

    .row{
        grid-template-columns: auto 70% auto;

        #gallery{
            grid-template-columns: 50px auto 50px;

            #navigate-left{
                grid-column: 1;
                grid-row: 1;
                width: 50px;
            }

            #curr-img{
                width: 100%;
                object-fit: contain;
                filter: drop-shadow(0 0 0.75rem #00000080);
            }

            #img{
                grid-column: 2;
            }
            
            #navigate-right{
                grid-row: 1;
                grid-column: 3;
                height: 100%;
                width: 50px;
            }

            #navigation-btns{
                display: none;
            }
        }
    }
}

@media only screen and (max-width: $widthBreakpoint){

    .row{
        grid-template-columns: auto 95% auto;

        #gallery{
            grid-template-columns: 100%;
            grid-template-rows: auto 50px;

            #navigate-left,
            #navigate-right{
                display: none;
            }

            #curr-img{
                grid-row: 1;
                grid-column: 1;
                width: 100%;
                object-fit: contain;
                filter: drop-shadow(0 0 0.75rem #00000080);
            }
            
            #navigation-btns{
                grid-row: 2;

                button{
                    width: 50%;
                }
            }
        }
    }
}


#content{
    margin-top: 60px;

    .row{
        width: 100%;
        display: grid;
        background: #14374da0;
        padding-top: 60px;
        padding-bottom: 30px;
        
        #gallery{
            grid-column: 2;
            display: grid;

            button{
                height: 50px;
                position: relative;
                transform: translateY(-50%);
                top: 50%;
                background: transparent;
                font-size: 20px;
                font-weight: normal;
                border: 0;
                transition: .3s;
                font-size: 32px;
                color: white;

                &:hover{
                    font-size: 40px;
                    cursor: pointer;
                }
            }

            #bottom-nav{
                margin: 10px 0;
                justify-content: center;

                div{
                    width: 10px;
                    height: 10px;
                    background-color: #d5dce6;
                    border-radius: 100%;
                    margin: 5px 4px;
                    transform: translate(-50%);

                    &:hover{
                        cursor: pointer;
                        background-color: lighten($color: #d5dce6, $amount: 5);
                    }
                }

                .selected{
                    width: 12px;
                    height: 12px;
                    background-color: #fff;

                }
            }
        }
    }
}