@media only screen and (min-width: 740px) {
  #quem-somos {
    grid-template-columns: auto 60% auto;
  }

  #visao {
    grid-template-columns: auto 60% auto;
  }
  #visao .text {
    padding: 0 40px;
  }

  #sign-up-row {
    grid-template-columns: auto 40% auto;
  }
}
@media only screen and (max-width: 740px) {
  #quem-somos {
    grid-template-columns: auto 90% auto;
  }

  #visao {
    grid-template-columns: auto 90% auto;
  }
  #visao .text {
    padding: 0 20px;
  }

  #sign-up-row {
    grid-template-columns: auto 90% auto;
  }
}
#quem-somos {
  margin-top: 60px;
  background-color: #3892e4;
  border-radius: 0 0 70% 70%/30%;
  padding: 20px 0;
  display: grid;
}
#quem-somos #meio {
  grid-column: 2;
  margin: 40px 0;
}
#quem-somos #meio h1 {
  margin-top: 0;
}
#quem-somos #meio h2 {
  font-weight: 100;
}

#visao {
  padding: 20px 0;
  display: grid;
}
#visao #meio-visao {
  grid-column: 2;
  margin: 40px 0;
}
#visao #meio-visao h1 {
  margin-top: 0;
}
#visao #meio-visao img {
  width: 100%;
  border-radius: 20px;
  margin: 20px 0;
}

#sign-up-row {
  display: grid;
  z-index: -1 !important;
  margin-top: 80px;
}
#sign-up-row #sign-up-form {
  grid-column: 2;
  border-radius: 20px;
  filter: drop-shadow(0 0 0.75rem #00000080);
  background-color: white;
}
#sign-up-row #sign-up-form h2 {
  background-color: #84cf77;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  color: white;
  padding: 20px 0;
  margin: 0;
}
#sign-up-row #sign-up-form #form {
  padding: 40px 20px;
  padding-top: 20px;
}
#sign-up-row #sign-up-form #form .input input {
  width: calc(100% - 45px);
  padding-left: 10px;
}
#sign-up-row #sign-up-form #form .row {
  height: auto;
}
#sign-up-row #sign-up-form #form .row .input {
  margin: 0 10px;
}
#sign-up-row #sign-up-form #form .row .input:first-child {
  margin-left: 0;
}
#sign-up-row #sign-up-form #form .row .input:last-child {
  margin-right: 0;
}
#sign-up-row #sign-up-form #form .btn {
  margin-top: 30px;
}

@media only screen and (min-width: 785px) {
  #contactos-row {
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto 70% auto;
  }
  #contactos-row #contactos {
    grid-column: 2;
  }
  #contactos-row #contactos h1 {
    text-align: center;
  }
  #contactos-row #contactos #content {
    display: grid;
    grid-template-columns: calc(50%-40px) calc(50%-40px);
    column-gap: 20px;
  }
  #contactos-row #contactos #content .contact-card {
    background-color: white;
    filter: drop-shadow(0 0 0.3rem #36363680);
    padding: 30px 20px;
    border-radius: 10px;
    width: fit-content;
  }
  #contactos-row #contactos #content .contact-card h3 {
    margin-top: 0;
  }
  #contactos-row #contactos #content .contact-card h3 button {
    background: transparent;
    border: 0;
    font-size: 18px;
    transition: 0.3s;
  }
  #contactos-row #contactos #content .contact-card h3 button:hover {
    font-size: 22px;
    cursor: pointer;
  }
  #contactos-row #contactos #content #europa {
    grid-column: 1;
  }
  #contactos-row #contactos #content #internacional {
    grid-column: 2;
  }
  #contactos-row #contactos #map {
    width: 100%;
    height: 400px;
    background-color: grey;
    margin-top: 20px;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.3rem #36363680);
  }
}
@media only screen and (max-width: 785px) and (min-width: 615px) {
  #contactos-row {
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto 90% auto;
  }
  #contactos-row #contactos {
    grid-column: 2;
  }
  #contactos-row #contactos h1 {
    text-align: center;
  }
  #contactos-row #contactos #content {
    display: grid;
    grid-template-columns: calc(50%-40px) calc(50%-40px);
    column-gap: 20px;
  }
  #contactos-row #contactos #content .contact-card {
    background-color: white;
    filter: drop-shadow(0 0 0.3rem #36363680);
    padding: 30px 20px;
    border-radius: 10px;
    width: fit-content;
  }
  #contactos-row #contactos #content .contact-card h3 {
    margin-top: 0;
  }
  #contactos-row #contactos #content .contact-card h3 button {
    background: transparent;
    border: 0;
    font-size: 18px;
    transition: 0.3s;
  }
  #contactos-row #contactos #content .contact-card h3 button:hover {
    font-size: 22px;
    cursor: pointer;
  }
  #contactos-row #contactos #content #europa {
    grid-column: 1;
  }
  #contactos-row #contactos #content #internacional {
    grid-column: 2;
  }
  #contactos-row #contactos #map {
    width: 100%;
    height: 400px;
    background-color: grey;
    margin-top: 20px;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.3rem #36363680);
  }
}
@media only screen and (max-width: 615px) {
  #contactos-row {
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto 90% auto;
  }
  #contactos-row #contactos {
    grid-column: 2;
  }
  #contactos-row #contactos h1 {
    text-align: center;
  }
  #contactos-row #contactos #content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    row-gap: 20px;
  }
  #contactos-row #contactos #content .contact-card {
    background-color: white;
    filter: drop-shadow(0 0 0.3rem #36363680);
    padding: 30px 20px;
    border-radius: 10px;
    width: fit-content;
  }
  #contactos-row #contactos #content .contact-card h3 {
    margin-top: 0;
  }
  #contactos-row #contactos #content .contact-card h3 button {
    background: transparent;
    border: 0;
    font-size: 18px;
    transition: 0.3s;
  }
  #contactos-row #contactos #content .contact-card h3 button:hover {
    font-size: 22px;
    cursor: pointer;
  }
  #contactos-row #contactos #content #europa {
    grid-row: 1;
  }
  #contactos-row #contactos #content #internacional {
    grid-row: 2;
  }
  #contactos-row #contactos #map {
    width: 100%;
    height: 400px;
    background-color: grey;
    margin-top: 20px;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.3rem #36363680);
  }
}

/*# sourceMappingURL=quem_somos.css.map */
