//$green: #84cf77;
$green: #CBE54E;
$darkGreen: #1b5319;
$greenishBlue: #5BA8A0;
$greenishBlueTrans: #5BA8A0f0;
//$blue: #71b3f0;
$blue: #3B5284;
$blueTrans: #3B5284f0;
$darkBlue: #256bbb;
$transparentBlue: #3892e480;